.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.text-field {
    -fx-font-size: 15px;
}

.canvas {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.hbox {
    -fx-background-color: #f0f0f0;
    -fx-padding: 15px;
}
